extends ../node_modules/pug-bootstrap/_bootstrap

append body
	.container
		h1= "Add new row to " + table + " table:"
		form
		table.table
			thead
				tr
					each col in columns
						th= col

			tbody
				tr
					each col in columns
						td
							.form-group
								input(type="text", id="row").form-control

		.row
			.text-center
				button.btn Create