extends ../node_modules/pug-bootstrap/_bootstrap

append body
	.container
		h1= "Displaying " + table + " table:"
		table.table
			thead
				tr
					each col in columns
						th= col

			tbody
				each row in rows
					tr
						each col in columns
							td= row[col]