extends ../node_modules/pug-bootstrap/_bootstrap

append body
	.container
		h1 Welcome to Ronald Concepcion's Final Project for COP4710
		p Choose a table:
		ul
			each table in tables
				li
					a(href="/display_table?table=" + table)= table